@media only screen and (min-width:200px) and (max-width:767px){

    .header-primary-top{
        height: 100px;
    }

    .header-p-part1 {
        margin-top: 12px;
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
        }

    .hpp1-text1{
      margin: auto;
        margin-left: 0px;
        text-align: center;
    }

    .h-icon{
        text-align: center;
        padding-right: 0px;
    }
    .header-secondary-top{
      /* height: 100vh; */
      max-height: 855px;
      background-image:url(images/header-images/logo/headerbg.jpg) ;
      padding-top: 40px;
      background-size: center center;
      background-size: cover;
      position: relative;
      
      /* background-attachment: fixed; */
  }
    
    .header-secondary-top{
        padding-top: 10px;
    }
    .header-p-part2{
      margin-top: 0px;
    }
    .igm-section{
        margin-left: 10px;
    }
    
    .menu-pages{
        margin-left: 0px;
    }
    
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
        padding-left: 0px;
      }


    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-left: auto ;
        padding-left: 12px;
    }

   
    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-left: -1px;
      } */
     
      .primary-button-box {
    
          margin-top: 400px;
        
      }

      .pri-sec-details {
        margin-top: 30px;
        text-align: center;
      }
  
      .justify-content-between {
        justify-content: space-evenly !important;
      }
   
      .card-box1 {
        margin-left: 0px;
        margin-top: 70px;
        text-align: center;
      }
      .card-box {
        margin-top: 116px;
      }
      .form-box{
       
        width: 501px;
        height: 488px;
        background-image: url(images/section-images/section2/header-tablebox.png);
      }
      .advnanced{
        margin-top: 0px !important;

      }

      .form-page{
        position: absolute;
        left: 0px;
        bottom: -470px;
        z-index: 15;
    }

    .mt-2 {
      margin-top: 0rem !important;
      margin-left: 16px;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left:0px
   calc(var(--bs-gutter-x) * -.5);
}


}