@media only screen and (min-width:200px) and (max-width:767px){

    .header-primary-top{
        height: 100px;
    }

    .header-p-part1 {
        margin-top: 12px;
        font-size: 18px;
        /* text-align: center; */
        }

    .hpp1-text1{
      margin: 0 auto;
        /* margin-left: 0px; */
        text-align: center;
    }

    .h-icon{
        text-align: center;
        /* padding-right: 0px; */
    }
    
    .header-secondary-top{
        padding-top: 10px;
    }
    .header-p-part2{
      /* margin-top: 0px; */
    }
    .igm-section{
        margin-left: 0px;
    }
    
    .menu-pages{
        margin-left: 0px;
    }
    
    .navbar-expand-md .navbar-nav {
        flex-direction: column;
        padding-left: 0px;
      }


    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        margin-left: auto ;
        /* padding-left: 12px; */
    }

    
    /* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        padding-left: -1px;
      }
     */
      .primary-button-box {
    
          margin-top: 420px;
        
      }

      .pri-sec-details {
        margin-top: 30px;
      }
  
      .justify-content-between {
        justify-content: space-evenly !important;
      }
   
      .card-box1 {
        margin-left: 0px;
        margin-top: 0px;
        text-align: center;
      }
      .card-box {
        margin-top: 116px;
      }
      .form-box{
        width: 501px;
        height: 488px;
        background-image: url(images/section-images/section2/header-tablebox.png);
      }
      .advnanced{
        margin-top: 0px !important;

      }

      .form-page{
        position: absolute;
        right: 0px;
        bottom: -470px;
        z-index: 15;
    }

    .mt-2 {
      margin-top: 0rem !important;
      margin-left: 16px;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left:0px
   calc(var(--bs-gutter-x) * -.5);
}


}